{% extends 'base.html' %}

{% block title %}About Us{% endblock %}

{% block content %}
<h1><strong>About Us</strong></h1>
<p>We are a team of passionate developers building web applications with Flask.</p>
<ul>
    <li>Mission: To teach programming effectively.</li>
    <li>Vision: Empower people to build their ideas.</li>
    <li>Values: Collaboration, innovation and learning.</li>
</ul>
<h3>Team members:</h3>
<ul>
    {% for member in team_members %}
        <li> {{ loop.index }}.Name: {{ member.name }}, Role: {{ member.role }} </li>
    {% endfor %}
</ul>

{% endblock %}