<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %} My Flask Project {% endblock %}
    </title>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/styles.css') }}">
</head>
<body>
    <header class="headers">
        <nav>
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/contact">Contact</a>
        </nav>
    </header>

    <main class="content-wrapper">
        {% block content %}

        {% endblock %}
    </main>

    <footer>
        <p>&copy; 2025 My Flask Project</p>
    </footer>

    
</body>
</html>